{% extends "base.html" %}

{% block content %}

    <h1>ADD A BLOG POST</h1>
        <form action="/newpost" method="post">
        <table>
            <tr>
                <td><label for=blog_title>Title for your new blog:</label></td>
                <td>
                    <input id="blog_title" type="text" name="blog_title" value="{{blog_title}}"> 
                </td>    
            </tr>
            <tr>
                <td><label for="blog_body">Your new blog:</label></td>
                <td>
                    <textarea name="blog_body" rows='10' cols='20' value="{{blog_body}}"></textarea>  
                </td>
            </tr>
        </table>    
        <input type="submit" value="ADD POST">
    </form>

{% endblock %}